.contactForm {
  padding: 20px;
  margin: auto;
  @include flexCenter;
  flex-direction: column;
  gap: 16px;
  p {
    font-weight: 600;
    font-size: 24px;
  }

  input,
  textarea {
    background-color: $color_grey;
    border: 1px solid $color_gold2;
    color: white;
    outline-color: $color_gold;
    width: 100%;
    padding: 10px 10px;
    border-radius: 5px;

    &:disabled {
      opacity: 0.7;
    }

    &[type="submit"] {
      &:hover {
        background-color: $color_gold;
        color: black;
      }
    }
  }

  &.black {
    // background-color: $color_black;
    width: 700px;

    @include respond-below(md) {
      width: 100%;
    }

    p {
      color: $color_gold;
    }
  }

  &.gold {
    background-color: $color_gold;
    p {
      color: $color_black;
    }
  }

  .status {
    width: 100%;
    padding: 10px;
    text-align: center;

    // &.loading {
    //   background-color: rgba(255, 166, 0, 0.5);
    //   color: rgb(157, 102, 0);
    // }

    &.error {
      background-color: rgba(255, 0, 0, 0.5);
      color: rgb(186, 0, 0);
    }
    &.success {
      background-color: rgba(0, 128, 0, 0.485);
      color: rgb(0, 68, 0);
    }
  }
}
