.ServicePostScreen {

  .description{
    margin-bottom: 24px;
    font-size: 20px;
    text-align: center;
  }
  .wrap {
    .row {
      display: flex;
      margin-bottom: 60px;

      .left {
        width: 50%;
      }
      .right {
        margin-right: 120px;
        background-color: rgb(244, 244, 244);
        padding: 70px 30px;
        width: 50%;

        h3,
        h2,
        h1,
        h4 {
          color: $color_r1;
        }
      }

      &:nth-child(even) {
        flex-direction: row-reverse;

        .right {
          margin-right: 0;
          margin-left: 120px;
        }
      }
    }
  }

  @include respond-below(md) {
    .wrap {
      .row {
        flex-direction: column !important;

        .left {
          width: 100%;
        }

        .right {
          width: 100%;
          margin: 0 !important;
        }
      }
    }
  }
}
