.cont {
  @include flexCenter;
  min-height: 100vh;
}

.loginBox {
  width: 100%;
  @include flexCenter;
  flex-direction: column;
  p {
    text-align: center;
    color: $color_gold;
    font-size: 30px;
  }
  // background-color: $color_p2;
  width: 300px;
  padding: 20px;
  gap: 16px;
  small {
    text-align: center;
    cursor: pointer;

    span {
      &:hover {
        color: $color_gold2;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    border-radius: 5px;

    input,
    button {
      padding: 5px 10px;
      color: $color_white;
      // background-color: $color_grey;

      // border: none;
      border: 1px solid black;
      border-radius: 10px;
      outline: none;
      height: 40px;

      &.error {
        border: 2px solid red;
      }
      &[type="submit"] {
        background-color: $color_gold !important;
        color: $color_black !important;
      }
    }
  }
}
