.cont {
  @include flexCenter;
  min-height: 100vh;
  padding-top: 80px;

  @include respond-below(md) {
    min-height: fit-content !important;
    padding: 150px 0;
  }
}

.loginBox {
  display: flex;
  width: 1000px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  small {
    cursor: pointer;
  }
  .img {
    width: 50%;
    background-image: url("/images/categories/bridal.PNG");
    background-size: cover;
    background-position: center;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 50%;
    padding: 80px;
    text-align: center;

    p {
      font-size: 20px;
      margin-bottom: 16px;
      color: $color_r1;
    }

    input {
      border: none;
      border-bottom: 1px solid gray;
      padding: 8px;
    }

    input[type="submit"] {
      border: none;
      background-color: $color_r1;
      border-radius: 10px;
      color: white;
      margin-top: 16px;
    }
  }

  @include respond-below(md) {
    flex-direction: column-reverse;

    .img {
      width: 100%;
      height: 300px;
    }

    form {
      width: 100%;
      padding: 40px 30px;
      p {
        margin: 0;
      }
    }
  }
}
