.review {
  background-color: white;
  margin: 20px 0;
  padding: 16px;
  border-radius: 10px;
  @include flexCenter;
  flex-direction: column;
  text-align: center;
  gap: 16px;

  .img {
    height: 130px;
    width: 130px;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    border: 3px solid $color_r1;
  }

  strong{
    color: $color_r1;
  }

  i{
    font-size: 24px;
    color: $color_mb;
  }
}
