.Service {
  margin: 20px;
  padding: 20px;
  @include flexCenter;
  flex-direction: column;
  gap: 12px;
  cursor: pointer;
  text-align: center;

  p {
    color: black;
  }

  h4 {
    color: black;
    margin: 0;
    > span {
      background-color: rgba(242, 255, 0, 0.646);
    }
  }

  .desc {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @supports (-webkit-line-clamp: 2) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
  }

  .price {
    font-size: 20px;
  }
  .img {
    border: 5px solid $color_r1;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }

  &:hover {
    .img {
      box-shadow: 0 0 50px 1px rgb(218, 218, 218);
      transform: scale(1.05);
    }
  }

  @include respond-below(md) {
    .img {
      width: 150px;
      height: 150px;
    }

    .desc {
      font-size: 14px;
    }
  }
}
