.LoadingScreen {
  background-color: $color_mb;
  background-color: black;
  height: 100dvh;
  width: 100dvw;
  position: absolute;

  .left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: 1s left;
    animation-fill-mode: forwards;
  }
  .right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -20%);
    opacity: 0;
    animation: 1s rightAnim;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }
}

@keyframes left {
  0% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-130%, -50%);
  }
}
@keyframes rightAnim {
  0% {
    opacity: 0;
    // transform: translate(-50%, -50%);
  }

  100% {
    opacity: 1;
    // transform: translate(-120%, -50%);
  }
}
