.ServicesPopup {
  position: fixed;
  z-index: 1000000;
  background-color: $color_mb;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  // height: 300px;
  // width: 100px;
  // padding: 16px 12px;
}

.category {
  > a {
    margin: 10px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: white;
    svg {
      font-size: 14px;
      // margin-bottom: 3px;
    }

    &:hover {
      color: $color_p2 !important;
    }
  }
  position: relative;

  .service {
    position: absolute;
    z-index: 1000000;
    background-color: $color_mb;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    left: 100%;
    top: 0;
    max-height: 500px;
    overflow-y: auto;

    > a {
      margin: 10px 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      color: white !important;
      &:hover {
        color: $color_p2 !important;
      }
    }
  }
}
