.header {
  // background-color: white;
  //   width: 100vw;
  //   width: 100vw;
  //   overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 1000;
  &.scrolled {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(6px);
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // height: 100px;
    height: 90px;
    // width: 100%;
    // border: 1px solid red;

    .logo {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;

      img {
        // height: 70px;
        width: auto;
      }

      .sk {
        height: 65px;
        width: auto;
      }

      .name {
        height: 35px;
        margin-bottom: 4px;
        margin-left: -25px;
      }

      @include respond-below(md) {
        .sk {
          height: 45px;
        }

        .name {
          height: 20px;
          margin-bottom: 5px;
        }
      }
    }

    nav {
      border-radius: 2px;
      overflow: hidden;

      @include respond-below(md) {
        display: none;
      }
      ul {
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(
            to right,
            $color_gold,
            rgb(249, 223, 190),
            $color_gold,
            rgb(249, 223, 190),
            $color_gold
          )
          1;
        padding: 7px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        margin: 0;

        li {
          list-style: none;
          a {
            color: white;
            &.active,
            &:hover {
              color: $color_gold;
            }
          }
        }
      }
    }

    .menu {
      display: none;
      color: $color_gold !important;
      height: 38px;
      width: 38px;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }

      @include respond-below(md) {
        display: initial;
      }
    }
  }
}
