.header {
  // background-color: white;
  //   width: 100vw;
  //   width: 100vw;
  //   overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 1000;
  &.scrolled {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(6px);
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // height: 100px;
    height: 90px;
    // width: 100vw;
    max-width: 1350px;
    // width: 100% !important;
    // border: 1px solid red;

    .logo {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;

      img {
        // height: 70px;
        width: auto;
      }

      .sk {
        height: 65px;
        width: auto;
      }

      .name {
        height: 35px;
        margin-bottom: 4px;
        margin-left: -25px;
      }

      @include respond-below(md) {
        .sk {
          height: 45px;
        }

        .name {
          height: 20px;
          margin-bottom: 5px;
          display: none;
        }
      }
    }

    .search {
      display: flex;
      align-items: center;
      gap: 5px;
      border: 1px solid $color_gold2;
      background-color: $color_grey;
      padding: 0px 10px;
      width: 60%;
      border-radius: 4px;

      @include respond-above(md) {
        width: 40%;
      }

      input {
        width: 100%;
        background-color: $color_grey;
        outline: none !important;
        border: none !important;
        color: $color_white;
        padding: 5px 10px;

        &:active,
        &:focus {
          border: 1px solid $color_gold;
        }
      }

      svg {
        cursor: pointer;
      }
    }

    nav {
      border-radius: 2px;
      overflow: hidden;
      display: none;

      // @include respond-below(xl) {
      // }
      ul {
        // border-width: 2px;
        // border-style: solid;
        // border-image: linear-gradient(
        //     to right,
        //     $color_gold,
        //     rgb(249, 223, 190),
        //     $color_gold,
        //     rgb(249, 223, 190),
        //     $color_gold
        //   )
        //   1;
        border: 2px solid white;
        border-radius: 8px;
        padding: 7px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        margin: 0;

        li {
          list-style: none;
          a {
            color: white;
            &.active,
            &:hover {
              color: $color_gold2;
            }
          }
        }
      }
    }

    .menu {
      // display: none;
      color: $color_gold !important;
      height: 38px;
      width: 38px;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }

      // @include respond-below(xl) {
      //   display: initial;
      // }
    }
  }
}
