.header {
  background-color: $color_mb;
  border-radius: 10px;
  position: fixed;
  width: 76%;
  margin: auto;
  top: 20px;
  left: 0;
  transform: translate(14%, 0);
  z-index: 1000;
  padding: 0 30px;

  @include respond-below(md) {
    width: 95%;
    transform: translate(2.5%, 0);
    padding: 0 16px;
  }
  &.scrolled {
    top: 0;
    width: 100%;
    transform: translate(0, 0);
    border-radius: 0;
    background-color: #171717d1;
    backdrop-filter: blur(5px);

    .sk {
      height: 50px !important;
      width: auto;
    }

    .name {
      height: 25px !important;
      margin-bottom: 4px;
      margin-left: -25px;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // height: 100px;
    // height: 90px;
    // width: 100vw;
    padding: 10px 0;
    max-width: 1350px;
    // width: 100% !important;
    // border: 1px solid red;

    .logo {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;

      img {
        // height: 70px;
        width: auto;
      }

      .sk {
        height: 65px;
        width: auto;
      }

      .name {
        height: 35px;
        margin-bottom: 4px;
        margin-left: -25px;
      }

      @include respond-below(md) {
        .sk {
          height: 45px;
        }

        .name {
          height: 20px;
          margin-bottom: 5px;
          // display: none;
        }
      }
    }
  }

  .navItems {
    display: flex;
    align-items: center;
    gap: 20px;

    a,
    > div {
      color: white;
      font-size: 18px;
      &:hover {
        color: $color_p2;
      }
    }
  }

  .menu {
    height: 38px;
    width: 38px;
    cursor: pointer;
    display: none;
    color: white;

    &:hover {
      transform: scale(1.1);
    }
  }

  @include respond-below(md) {
    .navItems {
      display: none;
    }

    .menu {
      display: unset;
    }
  }
}

// .abs{
//   position: fixed;
//   background-color: red;
// }
