.booking {
  @include flexCenter;
  padding: 40px 0;


  .calander {
    background-color: rgba(0, 0, 0, 0.5) !important;
    // background-color: red !important;
    border: 1px solid $color_gold2;
    border-radius: 10px;

    button {
      &:disabled {
        background-color: rgba(0, 0, 0, 0.5) !important;
        opacity: 0.5;
      }
    }

    button[class*="react-calendar__tile"] {
      // background-color: red;
      border: 1px solid $color_gold2;
      border-radius: 5px;

      &:hover {
        background-color: $color_gold;
        transform: scale(1.2);
        abbr {
          color: $color_black !important;
          font-weight: 600;
        }
      }
      // margin: 2px;
    }

    button[class*="react-calendar__navigation"] {
      &:disabled {
        opacity: 1;
      }
    }
    button[class="react-calendar__navigation__arrow react-calendar__navigation__prev2-button"],
    button[class="react-calendar__navigation__arrow react-calendar__navigation__prev-button"],
    button[class="react-calendar__navigation__arrow react-calendar__navigation__next-button"],
    button[class="react-calendar__navigation__arrow react-calendar__navigation__next2-button"] {
      &:disabled {
        opacity: 0;
      }
    }
  }

  span[class*="react-calendar__navigation__label__labelText react-calendar__navigation__label__labelText--from"] {
    color: $color_gold2;
  }
}

.booked {
  padding-top: 10px;
  display: flex;
  gap: 10px;
  max-width: 500px;
  align-items: center;
  margin: auto;
  input,
  textarea,
  button,
  select {
    border: 1px solid  $color_gold2;
    background-color: $color_grey;
    // border: none !important;
    color: white;
    outline-color: $color_gold;
    width: 100%;
    padding: 10px 10px;
    border-radius: 5px;

    &:disabled {
      opacity: 0.7;
    }

    //   &[type="submit"] {
    //     &:hover {
    //       //   background-color: $color_gold;
    //       //   color: black;
    //     }
    //   }
  }
}
