.banner {
  // border:  1px solid red;
  padding: 20px 0;

  display: flex;
  justify-content: space-between;
  width: 100vw;
  overflow: hidden;

  .left {
    width: 50%;
    @include flexCenter;
    flex-direction: column;
    text-align: center;
    // padding: 40px 0px;
    @include respond-below(md) {
      padding: 40px 20px;
    }

    .head {
      h1 {
        color: $color_gold;
        font-size: 70px;
        line-height: 55px;
        font-weight: 500;
      }

      hr {
        // height: 20px;
        height: 2px;
        width: 100px;
        // background-color: ;
        background-image: linear-gradient(
          to right,
          $color_gold,
          rgb(255, 236, 210),
          $color_gold
        );

        // color: red;
        opacity: 1;
        margin: 10px auto;
        // margin: ;
      }

      h3 {
        font-weight: 200;
        // margin-bottom: 16px;
        font-size: 20px;
      }
      @include respond-below(sm) {
        h1 {
          font-size: 50px;
          line-height: 44px;
        }
      }
    }

    .text {
      p {
        // font-size: 14px;
        color: rgb(214, 214, 214);
      }
    }
  }

  .right {
    width: 40%;
    // border: 1px solid red;

    .image {
      width: fit-content;
      height: fit-content;
    //   border-radius: 10px;
      border-width: 8px;
      border-style: solid;
      border-image: linear-gradient(
          to right,
          $color_gold,
          rgb(249, 223, 190),
          $color_gold
        )
        1;
    }
  }

  @include respond-below(md) {
    flex-direction: column-reverse;
    align-items: center;
    // justify-content: center;

    .left {
      width: 100%;
    }

    .right {
      width: 100%;

      @include flexCenter;
    }
  }
}
